/**
 * our own custom css
 */

.btn-margin-right {
    margin-right: 20px;
}

.btn {
    border-radius: 0px;
}

.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
}

.jumbotron {
    color: #fff;
    border-bottom: 1px solid #d3e0e9;
    border-radius: 0 !important;
    background: linear-gradient(to right, #3097d4, #fff);
}

.white-text {
    color: #ffffff;
}

.featured_image {
    width: 100%;
}
