/**
 * our own custom css
 */

.btn-margin-right {
    margin-right: 20px;
}

.btn {
    border-radius: 0px;
}

.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
}

.white-text {
    color: #ffffff;
}

.featured_image {
    width: 100%;
}
